<div class="card mt-4">
    <h4 class="card-header">You're logged in with Angular 8 & JWT!!</h4>
    <div class="card-body">
        <h6>Users from secure api end point</h6>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
        </ul>
    </div>
</div>



<!-- <div class=""> -->
    <form #myform2="ngForm" [formGroup]="myform" (ngSubmit)="onSubmit(myform2)" >
        <!-- <div class="form-group">
            <label for="minimumSetup">Minimum Setup</label>
            <div #foobarElement class='input-group date' id='datetimepicker1'>
                <input formControlName="dtp" type='text' class="form-control" id="dtp" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div> -->
        <idm-input
            [iformControl]="username"
            ilabel="Username"
            iid="username"
            iclass="form-control"
        ></idm-input>
        <button>Submit</button>
    </form>
<!-- </div> -->

<swal #successSwal title="Good job!" text="This cannot be undone" icon="success"></swal>

<button [swal]="successSwal" class="btn btn-primary">Success</button>