<div class="card">
    <div class="card-header">Form</div>
    <div class="card-body">
        <form [formGroup]="testForm" (ngSubmit)="submitMethod(testFormId)" #testFormId="ngForm">
            <idm-input
                [iformControl]="username"
                itype="text"
                ilabel="Username"
                iid="username"
            ></idm-input>
            <idm-input
                [iformControl]="email"
                itype="email"
                ilabel="Email"
                iid="email"
                [ireadonly]="false"
            ></idm-input>
            <idm-input
                [iformControl]="password"
                itype="password"
                ilabel="Password"
                iid="password"
            ></idm-input>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<idm-alert alert="warning" dismissible="true">
    <idm-alert-heading heading="h4" text="Please success"></idm-alert-heading>
    <strong>Oh snap!</strong><idm-alert-link [routerLink]="'/home'">Change a few things up</idm-alert-link>
</idm-alert>