<!-- <div class="form-group">
    <label for="minimumSetup">Minimum Setup</label>
    <div #foobarElement class='input-group date' id='datetimepicker1'>
        <input formControlName="dtp" type='text' class="form-control" id="dtp" />
        <span *ngIf=""  class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div> -->

<div class="form-group">
    <label for="{{id}}">{{label}}</label>
    <input
        [formControl]="formControl"
        type="{{type}}"
        id="{{id}}"
        class="{{class}}"
        >
</div>